name: build

on  :
  push:
    branches: [ "*" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    if     : "!contains(github.event.head_commit.message, '[no-ci]')"
    env    :
      ALLREP_TOKEN : "${{secrets.ALLREP_TOKEN}}"
      GRADLE_KEY   : "${{secrets.GRADLE_KEY}}"
      GRADLE_SECRET: "${{secrets.GRADLE_SECRET}}"
      CI           : "true"

    steps  :
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: zulu

      ################################################################################
      - name: "build gradle plugin"
        run : |
          ./gradlew --scan --info test

      - name: "if master: publish gradle plugin"
        if  : github.ref == 'refs/heads/master'
        run : |
          ./gradlew \
              --scan \
              --info \
              -Pgradle.publish.key=$GRADLE_KEY \
              -Pgradle.publish.secret=$GRADLE_SECRET

      - name: "if master: publish to GitHub Pages"
        if  : github.ref == 'refs/heads/master'
        run : |
          ./gradlew publishAllPublicationsToGitHubPagesRepository
          cd mvgplugin/build/github-pages-repo
          git init -b gh-pages
          git add .
          git commit -m "Publish Maven repository"
          git push -f https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git gh-pages
        env :
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
